picture {
	display: block;
	margin-top: 2em;
	width: 100%;
}

picture + h2 {
	margin-top: 1.6em;
}

.icon-row {
	margin-top: 3em;
	margin-bottom: 3em;
}

.icon-row img:not(:last-of-type) {
	margin-right: 50px;
}

#main section.section {
	padding-top: 4.5em;
	padding-bottom: 4.5em;
}

@media only screen and (max-width: 734px) {
	#main section.section {
		padding-top: 3.5em;
		padding-bottom: 3.5em;
	}
}

@media only screen and (max-width: 535px) {
	.icon-row img:not(:last-of-type) {
		margin-right: 23px;
	}
}

@media only screen and (max-width: 390px) {
	.icon-row img {
		width: 40px;
		height: 40px;
	}
}

@media only screen and (max-width: 320px) {
	.icon-row img:not(:last-of-type) {
		margin-right: 15px;
	}
}
